@{
    Layout = "_BaseLayout";
}
<body class="main text-on-surface">
    <partial name="_NavMenu" />
    @RenderBody()
    <partial name="_Footer" />
    <script src="~/js/nav-menu.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
