@{
    ViewData["Title"] = "CineScope - Sign In";
    Layout = "_BaseLayout";
}

<body class="main text-on-surface min-h-[100vh] flex flex-col">
<partial name="_NavMenu" />
@RenderBody()
<partial name="_Footer" />
<script src="~/js/nav-menu.js"></script>
<script src="~/js/login.js"></script>
</body>
