    <header class="flex justify-between items-center px-margin-desktop w-full h-16 bg-surface border-b border-surface-variant z-20">
        <div class="flex items-center gap-xl">
            <h1 class="font-headline-lg text-headline-lg font-bold text-primary-fixed-dim shrink-0">CineScope Admin</h1>
            <nav class="hidden lg:flex gap-lg">
                <a class="text-primary border-b-2 border-primary pb-1 font-label-md text-label-md" href="#">Dashboard</a>
                <a class="text-on-surface-variant hover:text-primary transition-colors duration-300 font-label-md text-label-md" href="#">Content</a>
                <a class="text-on-surface-variant hover:text-primary transition-colors duration-300 font-label-md text-label-md" href="#">Users</a>
                <a class="text-on-surface-variant hover:text-primary transition-colors duration-300 font-label-md text-label-md" href="#">Analytics</a>
            </nav>
        </div>
        <div class="flex items-center gap-lg">
            <div class="relative group">
                <button class="p-base rounded-full hover:bg-surface-variant text-on-surface transition-colors">
                    <span class="material-symbols-outlined" data-icon="notifications">notifications</span>
                </button>
                <span class="absolute top-2 right-2 w-2 h-2 bg-secondary-container rounded-full ring-2 ring-surface"></span>
            </div>
            <button class="p-base rounded-full hover:bg-surface-variant text-on-surface transition-colors">
                <span class="material-symbols-outlined" data-icon="settings">settings</span>
            </button>
            <div class="w-10 h-10 rounded-full border border-outline-variant overflow-hidden">
                <img alt="Admin profile" class="w-full h-full object-cover" data-alt="A professional headshot of a modern corporate male administrator in a high-tech dark-themed office background with subtle golden lighting. The photo has a premium cinematic quality with soft depth of field and high clarity." src="https://lh3.googleusercontent.com/aida-public/AB6AXuApEan62ELa73eNCJsuE6ax6fKjR1I5tnoRMcYJ1lb29gI-sKSCO-8zu290bVuFFSY4Pq3B5a0avVjMVXkZGxzl3Vc5QMXy2N_y-ZulW1qvNCOS_3aQ4zlSH7ex3F7BI-Hhi0gCIKNWfv6kdArVVf37Pq2pgu_c4ZlGsXIieH-eX9Kt7bmSQRsBlIZUBxU-nj6eRgv3ld64keNvbMYjK01bm9li6LCSHTacGZ5jt1U3nP3mIT16jby4N2RjcR4pWh-5x68mkXv2k9g"/>
            </div>
        </div>
    </header>
