@inherits LayoutComponentBase

<body class="main text-on-surface">
<NavMenu/>
@Body
<Footer></Footer>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<ReconnectModal/>
<script src="@Assets["_framework/blazor.web.js"]"></script>
</body>
